*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 100vw;
    font-size: clamp(8px, 1rem, 2em);
    background-color: var(--colorwhite);
    border: 8px solid black;
    text-align: center;

}
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    
    color: var(--colorwhite);
    background-color: skyblue;
    padding: 10px;
}
.top {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span a {
    font-size: larger;
    padding: 10px;
    
}
span a:hover {
    background-color: lightgrey;
    border-radius: 50%;

}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 40px 0px;
    border: 6px solid skyblue;
}
#text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--colorblack);
    padding: 20px;
    text-align: center;

}
.learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 7px;
}
.project-lista-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
    
}
.project-lista-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}
img {
    width: 120px;
    max-width: 100%;
    object-fit: cover;
    margin: 10px 10px;
    border: 4px solid black;
}
img:hover {
    box-shadow: 4px 3px 5px skyblue;
}
a {
  display: flex;
  text-decoration: none;
  color: var(--colorblack);
  font-size: clamp(8px, 1rem, 2em);
  text-align: center;
}
a:hover {
    background-color: skyblue;
}
#fotter {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--colorwhite);
    background-color: skyblue;
    justify-items: center;
    padding: 10px;
}
h2 {
    color: var(--colorblack);
    animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse {
    0% { box-shadow: 0 0 20px 10px yellow; }
    50% { box-shadow: 0 0 40px 25px yellow; }
    100% { box-shadow: 0 0 20px 10px yellow; }
}
@media screen and (max-width: 600px) {
    #container, #text , #projects, .learning, .project-lista-1, .project-lista-2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                max-width: 100vw;
    }
    h2 {
    color: var(--colorwhite);
    animation: pulse 3s ease-in-out infinite;
}
    @keyframes pulse {
    0% { box-shadow: 0 0 40px 10px yellow; }
    50% { box-shadow: 0 0 80px 25px yellow; }
    100% { box-shadow: 0 0 40px 10px yellow; }
}
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    #container, #text , #projects, .learning, .project-lista-1, .project-lista-2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                max-width: 100vw;
    }
    h2 {
    color: var(--colorwhite);
    animation: pulse 3s ease-in-out infinite;
}
    @keyframes pulse {
    0% { box-shadow: 0 0 20px 10px yellow; }
    50% { box-shadow: 0 0 40px 25px yellow; }
    100% { box-shadow: 0 0 20px 10px yellow; }
}
}

